.keyboardLetter {
	float: left;
	background-color: black;
	color: white;
	font-size: 25px;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 5px;
	width: 30px;
}
.keyboardLetter:hover {
	cursor: pointer;
}

